.name{

}
.primo{
    background-image: url(../imagens/dourado.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 2px 5px black;
    padding: 20px;
    width: 400px;
    height: 456px;
    margin: 0% auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
    
label{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
}
 
.center{
    display:flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
}

.name[type="text"], .email[type="email"], textarea{ 
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
}

.enviar[type="submit"]:hover{
    background-color: goldenrod;
}

.message{

    width: 90% !important;
    height: 68px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    font-size: 15px;
    padding-left: 8px;

}

.enviar{
    width: 50%  !important;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
   

}

.botaosubmit{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.botaosubmit2{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}