.imagemquemsomos {
    width: 50%;
    height: 90%;
}

.imagemquemsomos1{
    top: 570px;
    width: 750px;
    height: 550px;
    padding: 1%;
    margin-left: 20px;
    border-radius: 60px;
}
.imagemquemsomos:hover{}