@import "header.css";
@import "linkhome.css";
@import "linkprodutos.css";
@import "linkquemsomos.css";
@import "linkfaleconosco.css";
@import "linkpreto.css";
@import "linkprodutos.css";
@import "imagemquemsomos.css";
@import "apresentacao.css";
@import "titulo.css";

main {
    margin-top: 32px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul li{
    list-style: none;
    display: inline-block;
}

.tudinho {
    display: flex;
    justify-content: center;
}

.paimain{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.main1{
width: 80%;
}
.main2{
    width: 20%;

}

.tituloquemsomos{
    margin-top: 100px;
}

.ladoesquerdo{
    width:60%;
    margin-left: 5%;
}

.ladodireito{
    color:white;
    width: 35%;
    font-family: 'Rubik', sans-serif;
    margin-right: 5%;
    font-size: 20px;
    text-align: center;

}
footer{
    background-image: url(../imagens/dourado.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 80px;
    /*height: 55px;

     bottom: -144px;
    position: absolute;*/

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}



.footer1{
    color: black;

}
.footer2{
    color: black;
}

.logoinsta{
    display: flex;
    align-items: center;
    /*width: 400px;
    height: 80px;*/
    margin-left: 30px;
}
.logowhats{
    display: flex;
    align-items: center;
    /*width: 80px;
    height: 80px;*/
    margin-left: 30px;
}
.telefone{
    color: black;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}
.usuario{
    color: black;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}
.pmorgan{
    font-family: hellomorgan;
    color: goldenrod;
    width: 900px;
    height: 200px;
    font-size: 85px;
    }