
@font-face {
    font-family: 'HelloMorgan';
    src: url(../Fontes/HelloMorgan.ttf);
}

#titulo{
    font-family: 'HelloMorgan';
    color: goldenrod;
    display: flex;
    justify-content: center;
    font-size: 70px;
}
git remote add origin https://github.com/yourbeautysite/repository.git
