header{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 170px;
    margin: 0%;
}
main{
    padding-top: 100px;
    
}
.dourado{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../imagens/dourado.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
}
.preto{
    background-color: black;
    width: 100%;
    height: 70px;
    position: relative;

    
}
body{
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    overflow-y: hidden;
    width: 100%;
    height: 90vh;
    background-image: url(../imagens/imgfundo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
